# Node
node_modules/
dist/
build/

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Optional: если используешь coverage (например, vitest)
coverage/

# Optional: если используешь eslint
eslintcache
